<div class="box">
  <video class="fitImg" src ="assets/videos/movie.mp4" poster="A7302490.JPG" autoplay playsinline muted loop></video>
  <div class="box_top">
    <div class="box_contents">
      <%= image_tag "LOGO_white 2.png", class:'toplogo' %>
      <div class="cdt_wrapper">
        <div class="cdt">
          <span class="cdt_txt" id="cdt_txt"></span>
          <span class="cdt_date" id="cdt_date"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-background">
    <div class="top-about">
    </div>
    <div class="top-about">
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          今日は何を着て
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          どこに行こう。
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          どんな冒険が始まり、
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          どんなひとと出会えるのか。
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          自分を表現できるファッション
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          シンプルかつ大胆に、
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          そして
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          他にないデザインを。
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          自分を表現する
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
          冒険を始めよう。
         </p>
        </div>
      </div>
      <div class="about_box">
        <div class="wrap scroll-up">
         <p class="aboutus">
         ”Sun's Orion”と共に。
         </p>
        </div>
      </div>
    </div>
    <div class="top-about-back1">
     <div class="passbutton">
        <p class="button-text"></p>
        <div class="button-shadow">
           <input type="button" value="ENTER" onclick="gate();">
        </div>
     </div>
   </div>
    <!-- <div class="wrap load-fade">
        <h3>ふわっとロード</h3>
        フェードインさせるコンテンツ
    </div>
    <div class="wrap load-up">
        <h3>ふわっとロード</h3>
        スクロールアップしてくるコンテンツ
    </div> -->
<!--     <div class="wrap scroll-fade">
        <h3>ふわっとスクロール</h3>
        フェードインさせるコンテンツ
    </div> -->

  <div class="insta_box">
   <div class="insta">
      <a href="https://www.instagram.com/sunsorion_wharf.cig/" rel="nofollow" target="_blank">
         <%= image_tag "instaicon2.png", size: "80x80" %>
      </a>
   </div>
 </div>
</div>
