<div class="box">
  <!-- <video class="fitImg" src ="/assets/sequence.mp4" playsinline autoplay muted loop></video> -->
  <div class="box_top">
    <div class="box_contents">
      <%= image_tag "/assets/logo.png", class:'toplogo' %>
      <div class="cdt_wrapper">
        <div class="cdt">
          <span class="cdt_txt" id="cdt_txt"></span>
          <span class="cdt_date" id="cdt_date"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-background">
    <div class="space_box">
    </div>
    <div class="top-about">
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          今 日 は 何 を 着 て ど こ に 行 こ う。
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          ど ん な 冒 険 が 始 ま り、
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          ど ん な ひ と と 出 会 え る の か。
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          自 分 を 表 現 で き る  フ ァ ッ シ ョ ン
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          シ ン プ ル か つ 大 胆 に、
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          そ し て、他 に な い デ ザ イ ン を。
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
          自 分 を 表 現 す る 冒 険 を 始 め よ う。
         </p>
        </div>
      </div>
      <div class="about_box0">
        <div class="wrap scroll-up">
         <p class="aboutus">
         ”Sun's Orion” と 共 に。
         </p>
        </div>
      </div>
    </div>
     <div class="space_box">
    </div>
    <div class="top-about-back2">
      <div class="passbutton">
        <a href="https://suno61wharf.thebase.in" class="btn-cross">
          ENTER
        </a>
        <!--   <p class="button-text"></p>
        <div class="button-shadow">
           <input type="button" value="ENTER" onclick="gate();">
        </div> -->
     </div>
   </div>
    <div class="insta_box">
     <div class="insta">
        <a href="https://www.instagram.com/sunsorion_wharf.cig/" rel="nofollow" target="_blank">
           <%= image_tag "/assets/instaicon2.png", size: "80x80" %>
        </a>
     </div>
   </div>
</div>
