/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 78.195%;
  }
}

body {
  font-size: 1.2rem;
  line-height: 1.75em;
}
.toplogo{
  width: 90vh;
  top: 100px;
  position: relative;
  height: 50vh;
}
.cdt_wrapper {
  font-weight: bold;
  text-align: center;
  line-height: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .cdt_wrapper {
    line-height: 2.5;
    font-size: 1.8rem;
    padding: 0 20px;
    position: relative;
    top: 35vh;
  }
}

.cdt_wrapper small {
  font-size: .6em;
  padding: 0 .4em;
}

.cdt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}

.cdt_txt {
  font-size: .6em;
  display: inline-block;
  margin-right: .6em;
}

@media screen and (min-width: 768px) {
  .cdt_txt {
    font-size: 1.5em;
  }
}

.cdt_txt span {
  display: block;
  line-height: 1;
}

.cdt_date {
  font-size: 3rem;
}

.cdt_num {
  padding: 0 .15em;
}

@media screen and (min-width: 768px) {
  .cdt_num {
    line-height: 1;
    padding: .3em .15em;
  }
}
/*body{
  background-image: url(item5.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 104vw;
  background-size: cover;
  background-position: center;
  z-index: 1;

    height: 118vw;
    margin-bottom: -25px;
}*/
.moimg16 img {
  transition: 1.0s;
  transform: rotateY(0deg );
  width: 465px;
  height: 670px;
  text-align: center;
}
.moimg16:hover img {
  transform: rotateY( 180deg );
}
.moimg16 {
  float:left;
}
.box_wrap {
    width:100%;

}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}


@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 555px;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 170px);
  opacity: 0;
  animation: display 10s infinite;

}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay: 10s;
}
img:nth-child(7) {
  animation-delay: 12s;
}
img:nth-child(8) {
  animation-delay: 14s;
}
img:nth-child(9) {
  animation-delay: 16s;
}
img:nth-child(10) {
  animation-delay: 18s;
}
img:nth-child(11) {
  animation-delay: 20s;
}

.top-background{
	width: 100%;
	height: 100%;
	background-color: #fafafa;
  z-index: 100;
}
.top-visual{
	width: 100%;
	height: 300px;
	text-align: center;
	padding-top: 70px;
}
.top-item{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	height: 350px;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 4px 20px 2px #0000004d;
	padding-top: 10px;
	border-radius: 15px;
}
.top-title{
	text-align: center;
	color: rgba(29, 28, 31, 0.84);
	margin-bottom: -30px;
}
h1{
	font-family: 'Simonetta'; 
	font-size: 50px;
	text-shadow: 1px 2px 1px #808080;

}
.passbutton{
  position: relative;
  top: 38%;
  text-align: center;
}
.button-text{
	font-family: 'Simonetta';
	font-size: 20px;
	text-shadow: 2px 1px 4px #808080b0;
}
.button-shadow{
	width: 160px;
    height: 90px;
    box-shadow: 0px 6px 0px 20px hsla(0, 0%, 98%, 0.46);
    margin: 0 auto;
}
input[type="button" i]{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 160px;
  height: 100px;
  border: double 4px #668ad8;
  text-align: center;
  transition: .6s;
}
input[type="button" i]:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.top-about{
	margin: 0 auto;
  height: auto;
  padding-top: 29px;
  margin-bottom: 100px;

}
.top-about-back2 {
  height: 120vh;
  background: image-url('A7304891.JPG');
  background-position: center;
  background-size: cover;
}
.about_box0{
  height: auto;
  min-height: 50vh;
}

.aboutus{
	font-family: 'Noto Serif JP','Simonetta';
  color: black;
	font-size: 65px;
  text-align: center;
  position: relative;
  top: 200px;
  height: 100px
}
.insta{
	text-align: center;
}
.insta_box{
  height: 100px;
}

.scroll-fade{opacity: -10; transition: all 0.5s/*処理にかかる時間*/;}
.scroll-up{opacity: -10; transform: translateY(300px)/*スクロールアップする距離*/; transition: all 1.7s/*処理にかかる時間*/;}
.scroll-up.done, .scroll-fade.done{opacity : 1; transform : translate(0, 0);}
.load-fade {opacity : 0; transition : all 1s/*処理にかかる時間*/;}
.load-up{opacity: 0; transform: translateY(160px)/*スクロールアップする距離*/; transition: all 2s/*処理にかかる時間*/;}
.load-up.done, .load-fade.done{opacity : 1; transform : translate(0, 0);}

.fitImg{
  background-position: center;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -100;
  width: 100%;
}
.box{
  height: 100vh;
  background: image-url('S__3842058.jpg');
  background-position: center;
  background-size: cover;
}
.box_top{
  position: relative;
}
.box_contents{
  text-align: center;
}
.space_box{
  height: 30vh;
}

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 3.5em 6em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}
@media screen and (max-width:425px) {
  .toplogo{
    width: 46vh;
    top: 60px;
    position: relative;
    height: 30vh;
  }
  .box_top {
     top: 5%;
     position: relative;
  }
  .box{
    height: 94vh;
  }
  .cdt{
    margin-top: initial;
  }
  .cdt_wrapper{
    width: 200px;
    height: 60px;
    margin: 0 auto;
  }
  .cdt_date {
    font-size: 2.5rem;
  }
  .cdt_wrapper {
    line-height: 2.5;
    font-size: 1.8rem;
    padding: 0 20px;
    position: relative;
    top: 35vh;
  }
  .aboutus{
    font-size: 18px;
    position: relative;
    top: 200px;
  }
  .about_box0 {
    min-height: 24vh;
  }
  .space_box{
    height: 10vh;
  }
  .top-about-back2 {
    height: 90vh;
  }
  input[type="button" i]{
    width: 100px;
    height: 55px;
  }
  .button-shadow{
    width: 97px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 10px rgba(250, 250, 250, 0.46);
  }
  .fitImg{
    width: 400px;
    height: 225px;
  }

  @media screen and (max-width: 1024px) and (orientation: portrait){
  .toplogo{
    width: 46vh;
    top: 60px;
    position: relative;
    height: 30vh;
  }
  .box_top {
    top: 5%;
    position: relative;
  }
  .box{
    height: 94vh;
  }
  .cdt{
    margin-top: initial;
  }
  .cdt_wrapper{
    width: 200px;
    height: 60px;
    margin: 0 auto;
  }
  .cdt_date {
    font-size: 3rem;
  }
  .cdt_wrapper {
    line-height: 2.5;
    font-size: 1.8rem;
    padding: 0 20px;
    position: relative;
    top: 90px;
  }
  .aboutus{
    font-size: 18px;
    position: relative;
    top: 200px;
  }
  .about_box0 {
    min-height: 24vh;
  }
  .space_box{
    height: 10vh;
  }
  .top-about-back2 {
    height: 90vh;
  }
  input[type="button" i]{
    width: 100px;
    height: 55px;
  }
  .button-shadow{
    width: 97px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 10px rgba(250, 250, 250, 0.46);
  }
  .fitImg{
    width: 400px;
    height: 225px;
  }

  }

}